@import 'normalize.css/normalize.css';

body, html {
  font-family: 'Merriweather', serif !important;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
	background-color: #2e2e2e;
}
